.form {
  display: flex;
  flex-direction: column;
}

.form {
  background-color: antiquewhite;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  .text {
    border-radius: 6px;
    border-color: rgb(0, 149, 255);
  }

  .text:focus {
    color: rgb(56, 56, 100);
    border-color: rgb(0, 149, 255);
  }

  .firstname {
    margin-left: 27px;
  }

  .secondname {
    margin-left: 11px;
  }

  .email {
    margin-left: 55px;
  }

  .choose {
    margin-left: 24px;
  }

  .gender {
    margin-left: 124px;
  }

  .data {
    margin-left: 50px;
  }
}
